name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  phpunit:
    name: Run tests PHP ${{ matrix.php }} Symfony ${{ matrix.symfony }} ${{ matrix.dependency }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

      matrix:
        php:
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
          - '8.3'
          - '8.4'
        symfony:
          - '4.*'
          - '5.*'
          - '6.*'
          - '7.*'
        dependency:
          - 'lowest'
          - 'highest'

        # Exclude invalid combinations
        exclude:
          # Symfony 6.* requires PHP >= 8.1
          - php: '7.4'
            symfony: '6.*'
          - php: '8.0'
            symfony: '6.*'

          # Symfony 7.* requires PHP >= 8.2
          - php: '7.4'
            symfony: '7.*'
          - php: '8.0'
            symfony: '7.*'
          - php: '8.1'
            symfony: '7.*'

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: flex

      - name: Install dependencies
        uses: ramsey/composer-install@v2
        env:
          SYMFONY_REQUIRE: ${{ matrix.symfony }}
        with:
          dependency-versions: ${{ matrix.dependency }}

      - name: Clean up Symfony Flex artifacts
        run: rm -rf config/ public/ src/Controller/ src/Entity/ src/Kernel.php symfony.lock .env .env.test

      - name: Run tests
        run: composer test
